<app-header title="Log in"></app-header>

<section class="section container" (keyup)="checkError()">
        
    <div class="container block">

        <app-input
            label="Email"
            type="email"
            placeholder="Enter your email"
            (alert)="onError('email', $event)"     
        ></app-input>

    </div>

    <div class="container block">

        <app-input
            label="Password"
            type="password"
            placeholder="Enter your password"
            (alert)="onError('password', $event)"
        ></app-input>

    </div>

    <div class="container block">

        <!-- Stay connected -->
        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input 
                    type="checkbox"
                    checked
                />
                Remember me
                </label>
            </div>
        </div>
    
    </div>

    <div class="container block">

        <!-- Buttons validation -->
        <div class="field is-grouped">
            <div class="control">
                <button 
                class="button is-info"
                [disabled]="buttonLock"
                >
                <b>Log in</b>
                </button>
            </div>
            <div class="control">
                <button 
                class="button is-info is-light"
                >
                <b>Cancel</b>
                </button>
            </div>
        </div>
        
    </div>

    <div class="container block">

        <!-- Not yet register -->
        <div class="field">
            Not registered ? <a routerLink="/signup">Sign up</a> know.
        </div>

    </div>

    <div class="container block">

        <!-- Error connection -->
        <p 
            class="help is-danger"
            [ngClass]="{
                'is-hidden': true
            }"
        >
            Error
        </p>

    </div>

</section>