<app-header title="Sign up"></app-header>

<section class="section container">
    
    <!-- pseudo field -->
    <div class="container block">
        <app-input
            label="Pseudo"
            type="text"
            placeholder="Enter a pseudo"
            fa_icon="fa-user"
            [errorMessage]="errorMessage"
            (value)="setValue($event, 'pseudo')"
        ></app-input>
    </div>

    <!-- email field -->
    <div class="container block">
        <app-input
            label="Email"
            type="email"
            placeholder="Enter your email"
            [errorMessage]="errorMail.getMessage()"
            (value)="setValue($event, 'email')"
        ></app-input>
    </div>

    <!-- password field -->
    <div class="container block">
        <app-input
            label="Password"
            type="password"
            placeholder="Enter a new password"
            [errorMessage]="errorMessage"
            (value)="setValue($event, 'password')"
        ></app-input>
    </div>

    <!-- password confirmation field -->
    <div class="container block">
        <app-input
            label="Password confirmation"
            type="password"
            placeholder="Reenter password"
            [errorMessage]="errorMessage"
            (value)="setValue($event, 'passwordConfirmation')"
        ></app-input>
    </div>

    <!-- stay connected -->
    <div class="container block">
        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input 
                    type="checkbox"
                    [(ngModel)]="termsAndConditions"
                />
                I agree to the <a href="#">terms and conditions</a>.
                </label>
            </div>
        </div>
    </div>

    <!-- buttons field -->
    <div class="container block">
        <div class="field is-grouped">
            <!-- button for the validation of the form -->
            <div class="control">
                <button 
                class="button is-info"
                [disabled]="buttonLock"
                (click)="onSubmit()"
                >
                <b>Sign up</b>
                </button>
            </div>
            <!-- button for cancel the enter (erase the data entered by the user) -->
            <div class="control">
                <button 
                class="button is-info is-light"
                >
                <b>Cancel</b>
                </button>
            </div>
        </div>
    </div>

    <!-- not yet register field -->
    <div class="container block">
        <div class="field">
            Already have an account ? <a routerLink="/login">Log in</a> now.
        </div>
    </div>

</section>