<app-header title="Sign up"></app-header>

<section class="section container">
    
    <!-- pseudo field -->
    <div class="container block">
        <app-input
            label="Pseudo"
            type="text"
            placeholder="Enter a pseudo"
            fa_icon="fa-user"
            (error)="getError($event, 'pseudo')"
            (change)="onChange()"
        ></app-input>
    </div>

    <!-- email field -->
    <div class="container block">
        <app-input
            label="Email"
            type="email"
            placeholder="Enter your email"
            fa_icon="fa-envelope"
            (error)="getError($event, 'email')"
            (change)="onChange()"
        ></app-input>
    </div>

    <!-- stay connected -->
    <div class="container block">
        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input 
                    type="checkbox"
                    [(ngModel)]="submitLock"
                />
                I agree to the <a href="#">terms and conditions</a>.
                </label>
            </div>
        </div>
    </div>

    <!-- buttons field -->
    <div class="container block">
        <div class="field is-grouped">
            <!-- button for the validation of the form -->
            <div class="control">
                <button 
                class="button is-info"
                [disabled]="!submitLock"
                (click)="onSubmit()"
                >
                <b>Sign up</b>
                </button>
            </div>
            <!-- button for cancel the enter (erase the data entered by the user) -->
            <div class="control">
                <button 
                class="button is-info is-light"
                (click)="makeError()"
                >
                <b>Cancel</b>
                </button>
            </div>
        </div>
    </div>

    <!-- not yet register field -->
    <div class="container block">
        <div class="field">
            Already have an account ? <a routerLink="/login">Log in</a> now.
        </div>
    </div>

</section>