.is-mobile {
    padding: 5px 15px;
}

.level-item {
    display: inline;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}

.menu {
    padding: 0 2rem;
}

.share-color {
    color: rgb(0, 140, 255);
}