.card {
    margin-bottom: 5vh;
}

.modal-content .card {
    margin: 0;
}

.like-color {
    color: red;
}

.msg-color {
    color: #E7A14D;
}

.share-color {
    color: rgb(0, 140, 255);
}

.content {
    color: #363636;
}

.is-disabled {
    color: #363636;
    box-shadow: none;
    opacity: 0.5 !important;
	cursor: not-allowed;
}