<div class="field">
    <label class="label">{{ label }}</label>
    <div class="control has-icons-left has-icons-right">
        <input 
            class="input"
            [ngClass]="{
                'is-danger': error.state,
                'is-success': success
            }"
            type="{{ type }}"
            placeholder="{{ placeholder }}"
            [(ngModel)]="val"
            (keyup)="onChange()"
        />
        <span class="icon is-small is-left">
            <i class="fas {{ fa_icon }}"></i>
        </span>
        <span 
            class="icon is-small is-right"
            [ngClass]="{
                'is-hidden': !success
            }"
        >
            <i class="fas fa-check"></i>
        </span>
        <span 
            class="icon is-small is-right"
            [ngClass]="{
                'is-hidden': !error.state
            }"
        >
            <i class="fas fa-exclamation-triangle"></i>
        </span>
    </div>
    <p 
        class="help is-danger"
    >
        {{ error.message }}
    </p>
</div>