<!-- input field -->
<div class="field">
    <!-- title of the input -->
    <label class="label">{{ label }}</label>
    <div class="control has-icons-left has-icons-right">
        <!-- input with params an fonction's assignement -->
        <input 
            class="input"
            [ngClass]="{
                'is-danger': !hide.error,
                'is-success': !hide.success
            }"
            type="{{ type }}"
            placeholder="{{ placeholder }}"
            name="{{ name }}"
            (keyup)="onType()"
            [(ngModel)]="userValue"
        />
        <!-- success elements -->
        <span class="icon is-small is-left">
            <i class="fas {{ fa_icon }}"></i>
        </span>
        <span 
            class="icon is-small is-right"
            [ngClass]="{
                'is-hidden': hide.success
            }"
        >
            <i class="fas fa-check"></i>
        </span>
        <!-- failed elements -->
        <span 
            class="icon is-small is-right"
            [ngClass]="{
                'is-hidden': hide.error
            }"
        >
            <i class="fas fa-exclamation-triangle"></i>
        </span>
    </div>
    <!-- field for error message -->
    <p 
        class="help is-danger"
    >
        {{ errorMessage }}
    </p>
</div>