<section class="section">
    <div class="container block">
       <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div 
                    class="card"
                >
                    <header class="card-header is-pulled-right is-shadowless">
                        <a (click)="onBack()" class="card-footer-item"><b><i class="fas fa-times msg-color"></i> Close</b></a>
                    </header>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img [src]="users[post.author].img" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ users[post.author].username }}</p>
                                <p class="subtitle is-6"><a>@{{ users[post.author].username }}</a></p>
                            </div>
                        </div>
                        <div class="tags">
                            <span class="tag">
                                <time datetime="2016-1-1">{{ post.date | date: 'MMM d, y, h:mm a'}}</time>
                            </span>
                        </div>

                        <div class="block card-image" *ngIf="post.img">
                            <figure class="image is-4by3">
                                <img [src]="post.img" alt="Placeholder image">
                            </figure>
                        </div>

                        <div class="content">
                            {{ post.content }}
                        </div>

                        <div class="tags">
                            <span class="tag">
                               <b class="has-text-info">{{ post.like }} Like</b>
                            </span>
                            <span class="tag">
                                <b class="has-text-info">{{ post.msg }} Comment</b>
                            </span>
                        </div>
                    </div>
                </div>
                    
                <form [formGroup]="messageForm">
                    <div class="card">
                        <div class="card-content">
                            <div class="field">
                                <label class="label">Enter your message</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Type something" formControlName="msg"></textarea>
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a (click)="onLike(post)" class="card-footer-item"><b><i class="far fa-heart like-color"></i> Like</b></a>
                            <a (click)="onSendMessage(post)" class="card-footer-item"><b><i class="fas fa-paper-plane share-color"></i> Comment</b></a>
                            <a class="card-footer-item"><b><i class="fas fa-share share-color"></i> Share</b></a>
                        </footer>
                    </div>
                </form>

                <div 
                    class="card"
                >
                    <div class="section">
                        <div class="title is-5">
                            Commentaires :
                        </div>
                    </div>

                    <div 
                        class="card" 
                        *ngFor="let msg of messages; let i = index"
                    >
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img [src]="users[messages[messages.length-i-1].author].img" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{ users[messages[messages.length-i-1].author].username }}</p>
                                    <p class="subtitle is-6"><a>@{{ users[messages[messages.length-i-1].author].username }}</a></p>
                                </div>
                            </div>

                            <div class="content">
                                {{ messages[messages.length-i-1].msg }}
                            </div>

                            <div class="tags">
                                <span class="tag">
                                    <time datetime="2016-1-1">{{ messages[messages.length-i-1].date | date: 'MMM d, y, h:mm a' }}</time>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</section>