<!-- Main container -->
<nav class="navbar level is-mobile">
    <!-- Left side -->
    <div class="level-left">
        <p class="level-item"><a routerLink="">
            <h5 class="title is-5">Pumpkin</h5>
        </a></p>
    </div>
  
    <!-- Right side -->
    <div class="level-right">
        <p 
            class="level-item"
        >
            <a 
                class="button is-primary"
                routerLink="signup"
            >
                <b>Sign up</b>
            </a>
        </p>
        <p 
            class="level-item"
        >
            <a 
                class="button is-light"
                routerLink="login"
            >
                <b>Log in</b>
            </a>
        </p>
        <p 
            class="level-item is-hidden"
        >
            <a class="button is-light">
                <b>Log out</b>
            </a>
        </p>
    </div>
  </nav>